{% extends 'core/layout.html' %}

<!--Contenido bloques superiores-->

{% block title %}Acerca de{% endblock %} 

{% block background %}{% load static %}{% static 'core\assets\img\portfolio\logovet.png' %}{% endblock %}

{% block header %}
<header class="masthead bg-primary text-white text-center">            
    <div class="container d-flex align-items-center flex-column">
        <h1 class="masthead-heading text-uppercase mb-0">Mis Mascotas</h1>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>                                
        <p class="masthead-subheading font-weight-light mb-0">Dra. Nelcy Urueña Rivera</p>
    </div>
</header>
{% endblock %}

<!--Contenido pagina quienes somos-->

{% block content %}

<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        
        <link rel="image" type="image/x-icon" href= {% static 'core\assets\Empleados.jpg' %} />
        <h2 class="page-section-heading text-center text-uppercase text-white">¿QUIENES SOMOS?</h2>
        
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

		<div class="col- text-md-center ms-auto"><p class="lead">Somos una Clínica con trayectoria de más de 10 años de experiencia en medicina  veterinaria especializada en la atención de pequeños animales: caninos y felinos. Contamos atención en cirugía, hospitalización, servicio de incubadora, atención en consulta general y suministro  de medicamentos,  

Adicionalmente, ofrecemos a nuestros clientes atención en belleza canina, venta de productos médicos veterinarios, juguetes, ropa y accesorios además  de variedad de alimentos especializados para perros y gatos.</p>

		<div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
<!-- Espacio ingresar mision-->

		<h2 class="page-section-heading text-center text-uppercase text-white">MISIÓN</h2>
		<div class="col- text-md-center ms-auto"><p class="lead">Brindar atención de alta calidad, promoviendo el bienestar de los animales aplicando los conocimientos médicos de años de experiencia, en el área médica veterinaria a través de diagnósticos y tratamientos validados con estándares de la medicina, que permitirá asegurar una atención óptima, siendo nuestro compromiso atender a nuestros pacientes con amor, gentileza y profesionalismo</p>

		<div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

<!-- Espacio ingresar visión-->

		<h2 class="page-section-heading text-center text-uppercase text-white">VISIÓN</h2>
		<div class="col- text-md-center ms-auto"><p class="lead">Posicionar nuestra clínica veterinaria para el año 2028 como una de los mejores centros de atención veterinaria en la ciudad, contando con profesionales con enfoque médico ético, apoyados en el conocimiento para brindar una atención de calidad, con honestidad teniendo en cuenta los estándares de excelencia hacia la atención integral de nuestros pacientes. </p>


		<div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

<!-- Espacio justificación proyecto pagina web-->
        
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Este es un prototipo para la página web de la veterinaria Mis Mascotas.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">Proyecto formativo SENA. ADSI 427299</p></div>
        </div>
        
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light">
                <i class="fas fa-download me-2"></i>
                Ingresa a la Tienda!
            </a>
        </div>
    </div>
</section>

{% endblock %}