{% extends 'core/base.html'%}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core\assets\img\portfolio\logovet.png' %}{% endblock %}

{% block header %}
<header class="masthead bg-primary text-white text-center">            
    <div class="container d-flex align-items-center flex-column">
        <h1 class="masthead-heading text-uppercase mb-0">Mis Mascotas</h1>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>                                
        <p class="masthead-subheading font-weight-light mb-0">Dra. Nelcy Urueña Rivera</p>
    </div>
</header>
{% endblock %}