{% extends 'core/layout.html' %}

{% block title %}Pet Shot{% endblock %} 

{% block background %}
{% load static %}
{% load crispy_forms_tags %}
{% static 'core\assets\img\portfolio\logovet.png' %}



{% endblock %}

{% block content %}
<br>
<div class="mb-3 descripcion">
    <h4>Registro de Usuario</h4>
</div>

<div class="mb-3">
    <form enctype="multipart/form-data" action="{% url 'registro' %}" method="POST">
        {% csrf_token %}
        {% load widget_tweaks %}

        <div class="row g-3" >
            {% for field in form %}
            <div class="col-12 form-group" style="width: 35%; text-align: center; margin: auto; ">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {% render_field field class="form-control" %}
            </div>
            {% endfor %}
        </div>
        <br>
        <div class="row justify-content-end">
            <div class="mb-3 col-6" style="width: fit-content; margin-right:7%;">
                <input type="submit" value="Registarse" class="form-control btn btn-warning" />
            </div>
        </div>
    </form>
</div>

{% endblock %}